<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="logout">
        <a href="">プロフィール</a>
        <a class="" href="">ログアウト</a>
    </div>
    <div class="acount">
        <div class="profile">
            <img class="profile-img" src="img/user.svg" alt="">
            <button class="follow">フォローを外す</button>
        </div>
        <div class="nickname">ニックネーム</div>
        <div class="name">@name123</div>
        <div class="follow">
            <div class="follow-count">1</div>
            <div class="follow-text">フォロー中</div>
            <div class="follow-count">1</div>
            <div class="follow-text">フォロワー</div>
        </div>
        <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
    </div>
    <div class="list">
        <h2>アカウント一覧</h2>
        <a href="" class="user">
            <img src="img/user.svg" alt="">
            <div class="nickname">ニックネーム</div>
        </a>
        <a href="" class="user">
            <img src="img/user.svg" alt="">
            <div class="nickname">ニックネーム</div>
        </a>
        <a href="" class="user">
            <img src="img/user.svg" alt="">
            <div class="nickname">ニックネーム</div>
        </a>
        <a href="" class="user">
            <img src="img/user.svg" alt="">
            <div class="nickname">ニックネーム</div>
        </a>
    </div>
</body>
</html>